/* the-missing-value */

a {
  color: #4D73FF;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #4D73FF;
}

body {
  background-color: black;
  box-sizing: border-box;
  color: #4D73FF;
  font-family: Geneva, sans-serif;
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1.25rem);
  margin: 0;
  padding: 0;
  position: fixed;
}

h1 {
  margin: 1.5vh 1.5vw 3vh 1.5vw;
}

hr {
  border-color: #4D73FF;
}

html {
  position: fixed;
}

ul {
  list-style-type: none;
  padding: 0;
}

#flexContainerAbout {
  align-items: center;
  block-size: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  inline-size: 100vw;
  justify-content: center;
}

#flexContainerAbout > h1 {
  font-size: 300%;
  margin: 0 0 0 0;
}

#flexContainerFunctions {
  display: flex;
}

#flexContainerNav {
  align-items: center;
  display: flex;
  min-block-size: 50px;
}

#flexItemSidebar {
  display: flex;
  flex-direction: column;
}

#flexItemFunctions {
  inline-size: 90vw;
}

#flexItemFunctions > h2 {
  font-size: 200%;
  margin: 1.5vh 1.5vw 3vh 5vw;
}

#flexItemFunctions > h3 {
  margin: 0 1.5vw 0 7.5vw;
}

#flexItemFunctions > p {
  margin: 1vh 10vw 1vh 10vw;
}

#sidebar {
  inline-size: 12.5vw;
  margin: 0 1.5vw 0 1.5vw;
  min-inline-size: 100px;
}

#tutorial {
  margin: 0 1.5vw 0 1.5vw;
  max-inline-size: 70ch; 
}

#tutorial > h1 {
  margin: 1.5vh 1.5vw 3vh 0;
}

#tutorial > p {
  margin: 3vh 0 3vh 0;
}

.flexItemNav {
  margin: 0 1.5vw 0 1.5vw;
}

