/* the-missing-value */

a {
  color: #4D73FF;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #4D73FF;
}

body {
  background-color: black;
  color: #4D73FF;
  font-family: Geneva;
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1.25rem);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 1.5vh 1.5vw 3vh 1.5vw;
}

ul {
  list-style-type: none;
}

#flexContainerAbout > h1 {
  font-size: 300%;
  margin: 0 0 0 0;
}

#flexContainerAbout {
  align-items: center;
  block-size: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#flexContainerNav {
  align-items: center;
  display: flex;
  min-block-size: 50px;
}

.flexItemNav {
  margin: 0 1.5vw 0 1.5vw;
}

.function {
  margin: 5vh 1.5vw 0 1.5vw; 
}

.function > h2 {
  margin: 0 3.0vw 0 3.0vw;
}

.function > p {
  margin: 1vh 6.0vw 1vh 6.0vw;
}
